<div class="authContent ">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Verify otp</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="mainContent">
                <form class="authForm">
                    <div class="formElement">
                        <mat-form-field>
                            <input type="text" matInput placeholder="otp" />
                        </mat-form-field>
                    </div>



                    <div class="formBtn">

                        <button routerLink="/auth/login" mat-raised-button type="button" color="accent">Login</button>
                        <button routerLink="/admin" mat-raised-button type="button" color="primary">Submit</button>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>